<footer class="footer-area footer--light">
    <div class="footer-big">
      <!-- start .container -->
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="footer-widget">
              <div class="widget-about">
                <p>QNATURE</p>
                <p>All science has one aim, namely, to find a theory of nature. We have theories of races and of functions, but scarcely yet a remote approach to an idea of creation.
                     We are now so far from the road to truth, that religious teachers dispute and hate each other, and speculative men are esteemed unsound and frivolous. 
                    </p>
              </div>
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <!-- end /.col-md-4 -->
          <div class="col-md-2 col-sm-4">
            <div class="footer-widget">
              <div class="footer-menu footer-menu--1">
                <h4 class="footer-widget-title">quick Links</h4>
                <ul>
                  <li>
                    <a href="#">Home</a>
                  </li>
                  <li>
                    <a href="#">About</a>
                  </li>
                  <li>
                    <a href="#">Blog</a>
                  </li>
                  <li>
                    <a href="#">Careers</a>
                  </li>
                  <li>
                    <a href="#">Press</a>
                  </li>
                  <li>
                    <a href="#">Contact us</a>
                  </li>
                </ul>
              </div>
              <!-- end /.footer-menu -->
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <!-- end /.col-md-3 -->
  
          <div class="col-md-2 col-sm-4">
            <div class="footer-widget">
              <div class="footer-menu">
                <h4 class="footer-widget-title">For Practitioner</h4>
                <ul>
                  <li>
                    <a href="#">Naturepath</a>
                  </li>
                  <li>
                    <a href="#">Homeopathy</a>
                  </li>
                  <li>
                    <a href="#">Accupuncture</a>
                  </li>
                  <li>
                    <a href="#">Herbal Medicine</a>
                  </li>
                  <li>
                    <a href="#">Ayurveda</a>
                  </li>
                  <li>
                    <a href="#">Octeopathy</a>
                  </li>
                  <li>
                    <a href="#">Nutrition</a>
                  </li>
                  <li>
                    <a href="#">Kinesiology</a>
                  </li>
                  <li>
                    <a href="#">reflexology</a>
                  </li>
                  <li>
                    <a href="#">Massage</a>
                  </li>
                  <li>
                    <a href="#">yoga</a>
                  </li>
                  <li>
                    <a href="#">Pilates</a>
                  </li>
                  <li>
                    <a href="#">Hypnotherapy</a>
                  </li>
                  <li>
                    <a href="#">Podiatry</a>
                  </li>
                  <li>
                    <a href="#">Physiotherapy</a>
                  </li>
                </ul>
              </div>
              <!-- end /.footer-menu -->
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <!-- end /.col-lg-3 -->
  
          <div class="col-md-2 col-sm-4">
            <div class="footer-widget">
              <div class="footer-menu no-padding">
                <h4 class="footer-widget-title">QNature Consults</h4>
                <ul>
                  <li>
                    <a href="#">NP Consult</a>
                  </li>
                  <li>
                    <a href="#">NP Health Feed</a>
                  </li>
                  <li>
                    <a href="#">NP Profile</a>
                  </li>
                  <li>
                    <a href="#">For Clinics</a>
                  </li>
                  <li>
                    <a href="#">Rey by NP</a>
                  </li>
                  <li>
                    <a href="#">NP Reach</a>
                  </li>
                  <li>
                    <a href="#">Ray Tab</a>
                  </li>
                  <li>
                    <a href="#">NP Pro</a>
                  </li>
                </ul>
              </div>
              <!-- end /.footer-menu -->
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <!-- Ends: .col-lg-3 -->


            
          <div class="col-md-2 col-sm-4">
            <div class="footer-widget">
              <div class="footer-menu no-padding">
                <h4 class="footer-widget-title">More</h4>
                <ul>
                  <li>
                    <a href="#">Help</a>
                  </li>
                  <li>
                    <a href="#">Developers</a>
                  </li>
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="#">Terms & Conditions</a>
                  </li>
                  <li>
                    <a href="#">Healthcare Directory</a>
                  </li>
                  <li>
                    <a href="#">NP Health Wiki</a>
                  </li>
                </ul>
              </div>
              <!-- end /.footer-menu -->
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <!-- Ends: .col-lg-3 -->
  
        </div>
        <!-- end /.row -->
      </div>
      <!-- end /.container -->
    </div>
    <!-- end /.footer-big -->
  
    <div class="mini-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="copyright-text">
              <h5 class="text-white">© 2020 copyrights:
                <a href="#"></a>QNature.com All Rights Reserved
              </h5>
            </div>
  
            <div class="go_top">
              <span class="icon-arrow-up"></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="copyright-text">
              <h5 class="text-white">
                <a href="#" ></a>Privacy &nbsp; &nbsp;
                <a href="#"></a> Tearms Use
              </h5>
            </div>
  
            <div class="go_top">
              <span class="icon-arrow-up"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
